html {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  max-height: 500px;
  position: relative;
  overflow: hidden;
}

.img-flex {
  width: 100%;
  display: block;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  max-width: 45em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mecha {
  width: 31%;
  margin-top: .7em;
}

.text {
  align-items: flex-start;
  width: 55%;
  display: flex;
  flex-direction: column;
}

h2 {
  font-weight: bold;
  font-size: 3rem;
  margin: 0;
}

p {
  font-size: 1.5rem;
  margin: 0;
}

.btn {
  border: 3px solid;
  border-radius: 8px;
  background-color: #333;
  border-color: #333;
}

.btn-big {
  color: #fff;
  text-decoration: none;
  padding: .5em;
  margin-top: .8em;
  margin-bottom: .2em;
  font-size: 1.5rem;
}

.btn-big:hover {
  background-color: #000;
}

.btn:hover {
  background-color: #000;
}
